* {
    font-family: 'Inconsolata', monospace;
    color: #d8d8d6;
}

body {
    background-color: #21232d !important;
    margin: 0 auto !important;
}

.row-base div {
    padding: 20px 10px;
    border: 1px solid;
    font-size: 1em;
}

.masthead {
    margin: 40px 0;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

.masthead h1 a {
    font-size: 51.957px;
    background-color: #f92672;
    color: #21232d;
    padding: 5px 15px;
    font-weight: 700;
}

.navigation {
    font-size: 18px;
}

.main-menu-bar {
    position: relative;
}
.mmb__nav {
    margin: 1rem 0;
}

.mmb__nav-pill {
    display: inline-block;
    list-style: none;
    height: 2em;
}

.mmb__nav-pill:before {
    content: "·";
}

.mmb__nav-pill:first-child:before {
    display: none;
}

.mmb__nav-pill:hover .sub-menu-bar {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    padding: 20px;
    text-align: left;
    border: 1px solid #fff;  
    background-color: #314451;  
    min-height: 100%;
}

.sub-menu-bar {
    display: none;
    height: calc(100vh - 162px);
}

.smb__nav {
    padding: 0;
    position: relative;
}

.smb__nav-pill {
    display: block;
    list-style: none;
}

.smb__nav-pill:hover .smb__nav-content {
    display: block;
    color: goldenrod;
    z-index: 1;
    position: absolute;
    border: 1px solid purple;
    top: -20px;
    right: -20px;
    bottom: -289px;
    left: 50%;
    background-size: cover;
}

.smb__nav-content {
    display: none;
}

.smb__nav-content--bg1 {
    background: url(./assets/images/tim-gouw-68319-unsplash.jpg) no-repeat right;
}

.smb__nav-content--bg2 {
    background: url(./assets/images/zany-jadraque-571205-unsplash.jpg) no-repeat right;
}   

.smb__nav-content--bg3 {
    background: url(./assets/images/lee-campbell-106610-unsplash.jpg) no-repeat right;
}

.smb__nav-content--bg4 {
    background: url(./assets/images/emile-perron-190221-unsplash.jpg) no-repeat right;
}

.smb__nav-content--bg5 {
    background: url(./assets/images/helloquence-61189-unsplash.jpg) no-repeat right;
}

.smb__cta-banner {
    background-size: cover;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}

.smb__cta-banner--bg1 {
    background: url(./assets/images/fabian-grohs-597395-unsplash.jpg) no-repeat right;
}
.smb__cta-banner--bg2 {
    background: url(./assets/images/lee-campbell-106610-unsplash.jpg) no-repeat right;
}
.smb__cta-banner--bg3 {
    background: url(./assets/images/jesus-kiteque-224069-unsplash.jpg) no-repeat right;
}

.scb__title {
    color: #fff;
    font-size: 54px;
}

.scb__sub-title {
    color: #ccc;
    font-size: 24px;
}

.scb__cta {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 40px;
    border: 1px solid #ccc;
    text-transform: capitalize;
    color: #f92672;
    background: transparent;
    padding: 30px;
}